Repository yumemi-inc/flutter-mobile-project-template, pull requests merged in 2024-07, with the labels that each got.

#278 feat(app): デバッグ機能へのアクセスをデバッグ実行時のみに制限
  apps/app/lib/router/provider/router.dart
  apps/app/lib/router/provider/router.g.dart
  apps/app/lib/router/routes/main/home/debug_page_route.dart
  apps/app/lib/router/routes/main/home/home_shell_branch.dart
  apps/app/lib/ui/home_page.dart
Labels: @apps/app

#282 improve: cores/initパッケージを削除
  .github/labeler.yml
  .github/labels.yml
  apps/app/lib/app_initializer.dart
  apps/app/lib/main.dart
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  packages/cores/init/.gitignore
  packages/cores/init/.metadata
  packages/cores/init/README.md
  packages/cores/init/analysis_options.yaml
  packages/cores/init/lib/provider.dart
  packages/cores/init/lib/src/provider/initialize_providers.dart
  packages/cores/init/pubspec.lock
  packages/cores/init/pubspec.yaml
Labels: @apps/app, @packages/cores/init

#284 improve: 辞書ファイルの接頭辞を削除
  apps/app/lib/l10n/app_ja.arb
  packages/features/setting/l10n.yaml
  packages/features/setting/lib/src/l10n/features_setting_en.arb
  packages/features/setting/lib/src/l10n/features_setting_ja.arb
Labels: @apps/app, @packages/features/setting

#209 Issue 173 ページング機能のエラー発生時の復帰処理を実装
  packages/cores/core/lib/src/extension/async_value.dart
  packages/cores/core/lib/src/pagination/provider/paging_async_notifier.dart
  packages/cores/core/lib/src/ui/util/common_paging_view.dart
Labels: @packages/cores/core

#288 improve: melos の Dart/Flutter のテストコマンド用のスクリプトを改善
  melos.yaml
  packages/cores/data/pubspec.lock
  packages/cores/data/pubspec.yaml
  packages/cores/data/test/cores_data_test.dart
Labels: @packages/cores/data

#283 refactor: features_github_repository パッケージを samples ディレクトリに移動
  .github/labeler.yml
  .github/labels.yml
  apps/app/lib/main_page.dart
  apps/app/lib/router/provider/router.dart
  apps/app/lib/ui/home_page.dart
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  melos.yaml
  packages/features/github_repository/README.md
  packages/samples/github_repository/.gitignore
  packages/samples/github_repository/.metadata
  packages/samples/github_repository/README.md
  packages/samples/github_repository/analysis_options.yaml
  packages/samples/github_repository/build.yaml
  packages/samples/github_repository/lib/data.dart
  packages/samples/github_repository/lib/src/data/provider/repository.dart
  packages/samples/github_repository/lib/src/data/provider/repository.g.dart
  packages/samples/github_repository/lib/src/data/provider/scroll_notifier.dart
  packages/samples/github_repository/lib/src/data/provider/scroll_notifier.g.dart
  packages/samples/github_repository/lib/src/domain/model/github_repository.dart
  packages/samples/github_repository/lib/src/domain/model/github_repository.freezed.dart
  packages/samples/github_repository/lib/src/domain/model/github_repository.g.dart
  packages/samples/github_repository/lib/src/ui/github_repository_detail_page.dart
  packages/samples/github_repository/lib/src/ui/github_repository_list_page.dart
  packages/samples/github_repository/lib/src/ui/provider/github_repository_list_notifier.dart
  packages/samples/github_repository/lib/src/ui/provider/navigator_provider.dart
  packages/samples/github_repository/lib/src/ui/provider/navigator_provider.g.dart
  packages/samples/github_repository/lib/ui.dart
  packages/samples/github_repository/pubspec.lock
  packages/samples/github_repository/pubspec.yaml
Labels: @apps/app, @packages/features/github_repository

#293 ナビゲーションデバッグ画面にTextFieldを配置
  packages/features/debug_mode/lib/src/ui/navigation_debug_page.dart
  packages/features/debug_mode/pubspec.lock
  packages/features/debug_mode/pubspec.yaml
Labels: @packages/features/debug_mode
