Repository yumemi-inc/flutter-mobile-project-template, pull requests merged in 2024-12, with the labels that each got.

#336 [Improve]: flutter-mobile-project-templateのライセンスをライセンス一覧で確認できるようにする #320
  apps/app/lib/main.dart
Labels: @apps/app

#340 [Improve]: DropdownMenu.expandInsets を利用して親の横幅に合わせられるようにする
  packages/features/debug_mode/lib/src/ui/navigation_debug_page.dart
Labels: @packages/features/debug_mode

#342 feat: google.arb-editor 拡張機能を追加
  .vscode/extensions.json
  .vscode/settings.json
  apps/app/lib/l10n/app_en.arb
  apps/app/lib/l10n/app_ja.arb
  packages/features/maintain/lib/src/l10n/features_maintain_en.arb
  packages/features/maintain/lib/src/l10n/features_maintain_ja.arb
  packages/features/setting/lib/src/l10n/features_setting_en.arb
  packages/features/setting/lib/src/l10n/features_setting_ja.arb
  tools/bricks/features_package_core/__brick__/packages/features/{{feature_name.snakeCase()}}/lib/src/l10n/features_{{feature_name.snakeCase()}}_en.arb.tmp
  tools/bricks/features_package_core/__brick__/packages/features/{{feature_name.snakeCase()}}/lib/src/l10n/features_{{feature_name.snakeCase()}}_ja.arb.tmp
  tools/bricks/features_package_core/hooks/post_gen.dart
Labels: @apps/app, @packages/features/setting, @packages/features/maintain

#345 build(app): Android 向けのビルドが通るようバージョンアップ
  apps/app/android/.gitignore
  apps/app/android/app/build.gradle
  apps/app/android/gradle/wrapper/gradle-wrapper.properties
  apps/app/android/settings.gradle
Labels: @apps/app

#348 build(deps): 依存ライブラリのメジャーバージョンアップ
  apps/app/ios/Podfile.lock
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  melos.yaml
  packages/features/debug_mode/pubspec.lock
  packages/features/debug_mode/pubspec.yaml
Labels: @apps/app, @packages/features/debug_mode, @apps/website
