Repository yumemi-inc/flutter-mobile-project-template, pull requests merged in 2024-06, with the labels that each got.

#246 Refactor AppStatus provider to use existing state instances directly
  packages/cores/core/lib/src/app_status/provider/app_status_provider.dart
  packages/cores/core/lib/src/app_status/provider/app_status_provider.g.dart
Labels: @cores/core

#254 Barrelファイルをやめる
  packages/cores/core/lib/app_status.dart
  packages/cores/core/lib/exception.dart
  packages/cores/core/lib/model.dart
  packages/cores/core/lib/pagination.dart
  packages/cores/core/lib/provider.dart
  packages/cores/core/lib/src/app_status/index.dart
  packages/cores/core/lib/src/app_status/model/index.dart
  packages/cores/core/lib/src/app_status/provider/index.dart
  packages/cores/core/lib/src/exception/index.dart
  packages/cores/core/lib/src/model/index.dart
  packages/cores/core/lib/src/pagination/index.dart
  packages/cores/core/lib/src/pagination/model/index.dart
  packages/cores/core/lib/src/pagination/provider/index.dart
  packages/cores/core/lib/src/provider/index.dart
  packages/cores/core/lib/src/ui/index.dart
  packages/cores/core/lib/src/util/index.dart
  packages/cores/core/lib/ui.dart
  packages/cores/core/lib/util.dart
  packages/cores/data/lib/network.dart
  packages/cores/data/lib/shared_preferences.dart
  packages/cores/data/lib/src/network/index.dart
  packages/cores/data/lib/src/shared_preferences/index.dart
  packages/cores/data/lib/src/theme_mode/index.dart
  packages/cores/data/lib/theme_mode.dart
  packages/cores/designsystem/lib/components.dart
  packages/cores/designsystem/lib/src/components/index.dart
  packages/cores/designsystem/lib/src/components/list_tiles/index.dart
  packages/cores/designsystem/lib/src/theme_extensions/app_colors/index.dart
  packages/cores/designsystem/lib/src/theme_extensions/index.dart
  packages/cores/designsystem/lib/src/themes/index.dart
  packages/cores/designsystem/lib/theme_extensions.dart
  packages/cores/designsystem/lib/themes.dart
  packages/cores/init/lib/provider.dart
  packages/cores/init/lib/src/provider/index.dart
  packages/features/debug_mode/lib/src/ui/index.dart
  packages/features/debug_mode/lib/ui.dart
  packages/features/github_repository/lib/data.dart
  packages/features/github_repository/lib/src/data/provider/index.dart
  packages/features/github_repository/lib/src/ui/index.dart
  packages/features/github_repository/lib/ui.dart
  packages/features/setting/lib/src/ui/components/index.dart
  packages/features/setting/lib/src/ui/setting_page.dart
Labels: @cores/core, @cores/data, @cores/designsystem, @cores/init, @features/debug, @feature/github_repository, @feature/setting

#256 pubspec.yaml においてローカルパッケージへの参照部分で戻り過ぎていた階層を修正
  packages/features/setting/pubspec.yaml
Labels: @feature/setting

#258 [GH-257] Android Application ID と iOS Bundle ID を別々にリネームできるようにする
  .github/initialization/RENAME_APPLICATION_ID.md
  apps/app/android/app/build.gradle
  apps/app/flavor/dev.json
  apps/app/flavor/prd.json
  apps/app/flavor/stg.json
  apps/app/ios/Runner.xcodeproj/project.pbxproj
  tools/rename-application-id.sh
Labels: @apps/app

#259 サンプルとしてassetを追加
  apps/app/lib/router/provider/router.dart
  apps/app/lib/router/routes/main/setting/setting_shell_branch.dart
  melos.yaml
  packages/cores/designsystem/assets/yumemi_logo.png
  packages/cores/designsystem/lib/common_assets.dart
  packages/cores/designsystem/lib/src/gen/assets/assets.gen.dart
  packages/cores/designsystem/pubspec.lock
  packages/cores/designsystem/pubspec.yaml
  packages/features/setting/assets/yumemi_logo.png
  packages/features/setting/lib/src/gen/assets/assets.gen.dart
  packages/features/setting/lib/src/ui/setting_page.dart
  packages/features/setting/pubspec.lock
  packages/features/setting/pubspec.yaml
Labels: @apps/app, @cores/designsystem, @feature/setting

#261 #260 GitHubリポジトリの詳細ページにdescriptionを追加
  apps/app/lib/router/navigator/home_navigator.dart
  apps/app/lib/router/provider/router.g.dart
  apps/app/lib/router/routes/main/home/home_shell_branch.dart
  packages/cores/navigation/lib/src/home/navigator.dart
  packages/features/github_repository/lib/src/domain/model/github_repository.dart
  packages/features/github_repository/lib/src/domain/model/github_repository.freezed.dart
  packages/features/github_repository/lib/src/domain/model/github_repository.g.dart
  packages/features/github_repository/lib/src/ui/github_repository_detail_page.dart
  packages/features/github_repository/lib/src/ui/github_repository_list.dart
Labels: @apps/app, @cores/navigation, @feature/github_repository

#263 refactor: L10nをtypedefでexport
  apps/app/lib/main.dart
  packages/features/setting/lib/l10n.dart
  tools/bricks/features_package/__brick__/packages/features/{{feature_name.snakeCase()}}/lib/l10n.dart
Labels: @apps/app, @feature/setting

#262 Navigatorのインターフェースをfeatureのuiに定義するように変更し、navigationパッケージを廃止
  apps/app/lib/router/navigator/home_navigator.dart
  apps/app/lib/router/navigator/setting_navigator.dart
  apps/app/lib/router/provider/router.dart
  apps/app/lib/router/routes/main/home/home_shell_branch.dart
  apps/app/lib/router/routes/main/setting/setting_shell_branch.dart
  apps/app/lib/ui/home_page.dart
  apps/app/lib/ui/provider/navigator_provider.dart
  apps/app/lib/ui/provider/navigator_provider.g.dart
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  packages/cores/navigation/.gitignore
  packages/cores/navigation/.metadata
  packages/cores/navigation/CHANGELOG.md
  packages/cores/navigation/README.md
  packages/cores/navigation/analysis_options.yaml
  packages/cores/navigation/lib/navigators.dart
  packages/cores/navigation/lib/providers.dart
  packages/cores/navigation/lib/src/home/navigator.dart
  packages/cores/navigation/lib/src/home/provider.dart
  packages/cores/navigation/lib/src/home/provider.g.dart
  packages/cores/navigation/lib/src/setting/navigator.dart
  packages/cores/navigation/lib/src/setting/provider.dart
  packages/cores/navigation/lib/src/setting/provider.g.dart
  packages/cores/navigation/pubspec.lock
  packages/cores/navigation/pubspec.yaml
  packages/features/github_repository/lib/src/ui/github_repository_list_page.dart
  packages/features/github_repository/lib/src/ui/provider/navigator_provider.dart
  packages/features/github_repository/lib/src/ui/provider/navigator_provider.g.dart
  packages/features/github_repository/lib/ui.dart
  packages/features/github_repository/pubspec.lock
  packages/features/github_repository/pubspec.yaml
  packages/features/setting/build.yaml
  packages/features/setting/lib/setting.dart
  packages/features/setting/lib/src/ui/provider/navigator_provider.dart
  packages/features/setting/lib/src/ui/provider/navigator_provider.g.dart
  packages/features/setting/lib/src/ui/setting_page.dart
  packages/features/setting/lib/ui.dart
  packages/features/setting/pubspec.lock
  packages/features/setting/pubspec.yaml
Labels: @apps/app, @cores/navigation, @feature/github_repository, @feature/setting

#266 デバッグ時に、任意の画面にすぐ遷移できるようにする
  apps/app/lib/router/provider/router.g.dart
  apps/app/lib/router/routes/main/home/debug_page_route.dart
  apps/app/lib/router/routes/main/home/home_shell_branch.dart
  melos.yaml
  packages/features/debug_mode/lib/src/ui/debug_page.dart
  packages/features/debug_mode/lib/src/ui/navigation_debug_page.dart
  packages/features/debug_mode/lib/src/ui/provider/navigator_provider.dart
  packages/features/debug_mode/lib/src/ui/provider/navigator_provider.g.dart
  packages/features/debug_mode/lib/ui.dart
  packages/features/debug_mode/pubspec.lock
  packages/features/debug_mode/pubspec.yaml
Labels: @apps/app, @features/debug
