Repository yumemi-inc/flutter-mobile-project-template, pull requests merged in 2024-08, with the labels that each got.

#297 feat: GitHub 関連の実装を apps/app から samples/github_app に移動
  apps/app/lib/gen/l10n/l10n.dart
  apps/app/lib/gen/l10n/l10n_en.dart
  apps/app/lib/gen/l10n/l10n_ja.dart
  apps/app/lib/l10n/app_en.arb
  apps/app/lib/l10n/app_ja.arb
  apps/app/lib/main_page.dart
  apps/app/lib/router/provider/router.dart
  apps/app/lib/router/provider/router.g.dart
  apps/app/lib/router/routes/main/home/home_shell_branch.dart
  apps/app/lib/ui/home_page.dart
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  samples/github_app/analysis_options.yaml
  samples/github_app/lib/main.dart
  samples/github_app/lib/route.dart
  samples/github_app/pubspec.lock
  samples/github_app/pubspec.yaml
Labels: @apps/app, @samples/github_app

#307 feat(app): デバッグ画面への遷移を shift + d に変更
  apps/app/lib/main.dart
  apps/app/lib/router/routes/main/home/home_shell_branch.dart
  apps/app/lib/ui/home_page.dart
Labels: @apps/app

#308 fix: website でも Flutter のバージョンを指定
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
Labels: @apps/website

#319 [improve] fix: テキストとボタンのマージンを改行ではなくSizedBoxで表現するようにした
  packages/features/maintain/lib/src/gen/l10n/l10n.dart
  packages/features/maintain/lib/src/gen/l10n/l10n_en.dart
  packages/features/maintain/lib/src/gen/l10n/l10n_ja.dart
  packages/features/maintain/lib/src/l10n/features_maintain_en.arb
  packages/features/maintain/lib/src/l10n/features_maintain_ja.arb
  packages/features/maintain/lib/src/ui/pages/maintenance_page.dart
Labels: @packages/features/maintain

#321 refactor: 強制アップデートのディレクトリ構造から app_status を削除
  packages/features/force_update/lib/force_update_status.dart
  packages/features/force_update/lib/src/model/force_update_status.dart
  packages/features/force_update/lib/src/model/force_update_status.freezed.dart
  packages/features/force_update/lib/src/model/force_update_target_version.dart
  packages/features/force_update/lib/src/model/force_update_target_version.freezed.dart
  packages/features/force_update/lib/src/provider/force_update_provider.dart
  packages/features/force_update/lib/src/provider/force_update_provider.g.dart
  packages/features/force_update/lib/src/provider/force_update_version_provider.dart
  packages/features/force_update/lib/src/provider/force_update_version_provider.g.dart
  packages/features/force_update/test/model/force_update_status_test.dart
Labels: @packages/features/force_update

#322 refactor: cores/core から強制アップデートに関する記述を削除
  packages/cores/core/lib/app_status.dart
  packages/cores/core/lib/src/app_status/model/app_status.dart
  packages/cores/core/lib/src/app_status/model/app_status.freezed.dart
  packages/cores/core/lib/src/app_status/model/force_update_status.dart
  packages/cores/core/lib/src/app_status/model/force_update_status.freezed.dart
  packages/cores/core/lib/src/app_status/model/force_update_target_version.dart
  packages/cores/core/lib/src/app_status/model/force_update_target_version.freezed.dart
  packages/cores/core/lib/src/app_status/provider/app_status_provider.dart
  packages/cores/core/lib/src/app_status/provider/app_status_provider.g.dart
  packages/cores/core/lib/src/app_status/provider/force_update_provider.dart
  packages/cores/core/lib/src/app_status/provider/force_update_provider.g.dart
  packages/cores/core/lib/src/app_status/provider/force_update_version_provider.dart
  packages/cores/core/lib/src/app_status/provider/force_update_version_provider.g.dart
  packages/cores/core/test/app_status/model/force_update_status_test.dart
  packages/cores/core/test/app_status/provider/app_status_provider_test.dart
  packages/features/debug_mode/lib/src/ui/debug_page.dart
Labels: @packages/cores/core, @packages/features/debug_mode

#323 refactor(force_update): 強制アップデート関連処理のリファクタリング
  packages/features/debug_mode/lib/src/ui/debug_page.dart
  packages/features/force_update/lib/force_update_status.dart
  packages/features/force_update/lib/src/model/force_update_status.dart
  packages/features/force_update/lib/src/model/force_update_target_version.dart
  packages/features/force_update/lib/src/model/force_update_target_version.freezed.dart
  packages/features/force_update/lib/src/model/version_string.dart
  packages/features/force_update/lib/src/provider/force_update_provider.dart
  packages/features/force_update/lib/src/provider/force_update_provider.g.dart
  packages/features/force_update/lib/src/provider/force_update_version_provider.dart
  packages/features/force_update/lib/src/provider/force_update_version_provider.g.dart
  packages/features/force_update/test/model/force_update_status_test.dart
Labels: @packages/features/debug_mode, @packages/features/force_update

#324 refactor(force_update): 強制アップデート関連の命名を修正
  apps/app/lib/main.dart
  packages/features/debug_mode/lib/src/ui/debug_page.dart
  packages/features/force_update/lib/force_update.dart
  packages/features/force_update/lib/src/model/force_update_settings_state.dart
  packages/features/force_update/lib/src/model/force_update_settings_state.freezed.dart
  packages/features/force_update/lib/src/provider/force_update_provider.dart
  packages/features/force_update/lib/src/provider/force_update_provider.g.dart
  packages/features/force_update/test/model/force_update_settings_state_test.dart
Labels: @apps/app, @packages/features/debug_mode, @packages/features/force_update

#325 refactor: メンテナンスモード関連のファイル群を cores_core から features_maintain に移動
  apps/app/lib/router/router.dart
  apps/app/lib/router/router.g.dart
  packages/cores/core/lib/app_status.dart
  packages/cores/core/lib/src/app_status/model/app_status.dart
  packages/cores/core/lib/src/app_status/model/app_status.freezed.dart
  packages/cores/core/lib/src/app_status/model/maintenance_mode_status.dart
  packages/cores/core/lib/src/app_status/provider/app_status_provider.dart
  packages/cores/core/lib/src/app_status/provider/app_status_provider.g.dart
  packages/features/debug_mode/lib/src/ui/debug_page.dart
  packages/features/debug_mode/pubspec.lock
  packages/features/debug_mode/pubspec.yaml
  packages/features/maintain/build.yaml
  packages/features/maintain/lib/model.dart
  packages/features/maintain/lib/provider.dart
  packages/features/maintain/lib/src/model/maintenance_mode_settings_state.dart
  packages/features/maintain/lib/src/model/maintenance_mode_settings_state.freezed.dart
  packages/features/maintain/lib/src/provider/maintenance_mode_provider.dart
  packages/features/maintain/lib/src/provider/maintenance_mode_provider.g.dart
  packages/features/maintain/lib/src/ui/pages/maintenance_page.dart
  packages/features/maintain/pubspec.lock
  packages/features/maintain/pubspec.yaml
  packages/features/maintain/test/provider/maintenance_mode_provider_test.dart
Labels: @apps/app, @packages/cores/core, @packages/features/debug_mode, @packages/features/maintain

#328 chore: MaterialThemeAddonとDeviceFrameAddonを入れ替えてTargetPlatformを効かす
  apps/catalog/lib/main.dart
  apps/catalog/lib/main.directories.g.dart
  apps/catalog/lib/use_case/cores/designsystem/components/progress_indicator.dart
Labels: @apps/catalog
