Repository yumemi-inc/flutter-mobile-project-template, pull requests merged in 2025-09, with the labels that each got.

#580 flutter_localizations から slang への多言語対応移行
  .gitattributes
  .github/initialization/LOCALIZATION.md
  apps/app/ios/Runner/Info.plist
  apps/app/l10n.yaml
  apps/app/lib/gen/l10n/l10n.dart
  apps/app/lib/gen/l10n/l10n_en.dart
  apps/app/lib/gen/l10n/l10n_ja.dart
  apps/app/lib/l10n/app_en.arb
  apps/app/lib/l10n/app_ja.arb
  apps/app/lib/main.dart
  apps/app/lib/main_page.dart
  apps/app/lib/presentation/ui/operational_settings/maintenance_page.dart
  apps/app/lib/presentation/ui/setting/setting_page.dart
  apps/app/lib/ui/home_page.dart
  packages/design_ui/lib/i18n.dart
  packages/design_ui/lib/src/gen/i18n/strings.g.dart
  packages/design_ui/lib/src/gen/i18n/strings_en.g.dart
  packages/design_ui/lib/src/gen/i18n/strings_ja.g.dart
  packages/design_ui/pubspec.yaml
  packages/design_ui/res/i18n/en.i18n.json
  packages/design_ui/res/i18n/ja.i18n.json
  packages/design_ui/slang.yaml
  pubspec.lock
  pubspec.yaml
Labels: @apps/app, @packages/design_ui

#582 chore: パッケージの更新（コード生成系）
  .cspell/widgetbook-term.txt
  apps/app/lib/configuration/build_config.dart
  apps/app/lib/configuration/build_config.freezed.dart
  apps/app/lib/gen/assets/assets.gen.dart
  apps/app/pubspec.yaml
  apps/catalog/lib/main.dart
  apps/catalog/lib/main.directories.g.dart
  apps/catalog/pubspec.yaml
  cspell.jsonc
  packages/debug/pubspec.yaml
  packages/design_theme/pubspec.yaml
  packages/design_ui/lib/src/gen/assets/assets.gen.dart
  packages/design_ui/pubspec.yaml
  packages/domain_model/lib/src/force_update_settings_state.freezed.dart
  packages/domain_model/lib/src/maintenance_mode_settings_state.freezed.dart
  packages/domain_model/lib/src/operational_settings.freezed.dart
  packages/domain_model/pubspec.yaml
  packages/samples/github_repository/lib/src/domain/model/github_repository.freezed.dart
  packages/samples/github_repository/pubspec.yaml
  packages/utils/pagination/lib/src/model/paging_data.freezed.dart
  packages/utils/pagination/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: @apps/app, @apps/catalog, @packages/samples/github_repository, @packages/utils/pagination, @packages/design_theme, @packages/design_ui, @packages/domain_model, @packages/debug

#588 chore: パッケージの更新（logging & lint）
  apps/app/pubspec.yaml
  packages/debug/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  samples/webview/pubspec.yaml
Labels: @apps/app, @samples/webview, @packages/debug

#591 feat(design_ui): assetsをresディレクトリ配下に移動
  apps/app/lib/router/routes/main/setting/setting_shell_branch.dart
  packages/design_ui/lib/src/gen/assets/assets.gen.dart
  packages/design_ui/pubspec.yaml
  packages/design_ui/res/assets/yumemi_logo.png
Labels: @apps/app, @packages/design_ui
