Repository yumemi-inc/flutter-mobile-project-template, pull requests merged in 2025-06, with the labels that each got.

#534 [528]: compileSdkVersionをflutterの設定に変更
  apps/app/android/app/build.gradle.kts
Labels: @apps/app

#537 パッケージの更新
  apps/app/lib/router/router.g.dart
  apps/app/pubspec.yaml
  apps/catalog/lib/main.directories.g.dart
  apps/catalog/pubspec.yaml
  packages/application/pubspec.yaml
  packages/cores/core/pubspec.yaml
  packages/cores/data/pubspec.yaml
  packages/cores/designsystem/build.yaml
  packages/cores/designsystem/lib/src/gen/assets/assets.gen.dart
  packages/cores/designsystem/lib/src/theme_extensions/app_colors/app_colors.g.theme.dart
  packages/cores/designsystem/pubspec.yaml
  packages/cores/model/pubspec.yaml
  packages/design_theme/lib/src/theme_extensions/app_colors.g.theme.dart
  packages/design_theme/pubspec.yaml
  packages/design_ui/build.yaml
  packages/design_ui/lib/src/gen/assets/assets.gen.dart
  packages/design_ui/pubspec.yaml
  packages/domain_logic/pubspec.yaml
  packages/domain_model/pubspec.yaml
  packages/features/debug_mode/pubspec.yaml
  packages/features/force_update/lib/src/model/force_update_settings_state.dart
  packages/features/force_update/lib/src/model/force_update_settings_state.freezed.dart
  packages/features/force_update/lib/src/model/force_update_target_version.dart
  packages/features/force_update/lib/src/model/force_update_target_version.freezed.dart
  packages/features/force_update/pubspec.yaml
  packages/features/maintain/lib/src/model/maintenance_mode_settings_state.dart
  packages/features/maintain/lib/src/model/maintenance_mode_settings_state.freezed.dart
  packages/features/maintain/pubspec.yaml
  packages/features/setting/build.yaml
  packages/features/setting/lib/src/gen/assets/assets.gen.dart
  packages/features/setting/pubspec.yaml
  packages/infrastructure/pubspec.yaml
  packages/samples/github_repository/lib/src/domain/model/github_repository.dart
  packages/samples/github_repository/lib/src/domain/model/github_repository.freezed.dart
  packages/samples/github_repository/lib/src/domain/model/github_repository.g.dart
  packages/samples/github_repository/pubspec.yaml
  packages/utils/pagination/lib/src/model/paging_data.dart
  packages/utils/pagination/lib/src/model/paging_data.freezed.dart
  packages/utils/pagination/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Labels: @apps/app, @apps/catalog, @packages/cores/core, @packages/cores/data, @packages/cores/designsystem, @packages/features/debug_mode, @packages/samples/github_repository, @packages/features/setting, @packages/features/maintain, @packages/features/force_update, @packages/cores/model, @packages/utils/pagination, @packages/application, @packages/design_theme, @packages/design_ui, @packages/domain_logic, @packages/domain_model, @packages/infrastructure

#540 [GH-439] domain_model に移行
  packages/domain_model/build.yaml
  packages/domain_model/lib/internal_domain_model.dart
  packages/domain_model/lib/src/force_update_settings_state.dart
  packages/domain_model/lib/src/force_update_settings_state.freezed.dart
  packages/domain_model/lib/src/force_update_target_version.dart
  packages/domain_model/lib/src/force_update_target_version.freezed.dart
  packages/domain_model/lib/src/maintenance_mode_settings_state.dart
  packages/domain_model/lib/src/maintenance_mode_settings_state.freezed.dart
  packages/domain_model/lib/src/version_string.dart
  packages/domain_model/pubspec.yaml
Labels: @packages/domain_model

#548 talker_flutter& talker_riverpod_loggerを追加
  apps/app/ios/Podfile.lock
  apps/app/lib/main.dart
  apps/app/lib/router/router.g.dart
  apps/app/lib/router/routes/main/home/debug_page_route.dart
  apps/app/pubspec.yaml
  packages/debug/lib/src/ui/debug_page.dart
  packages/debug/lib/src/ui/talker_page.dart
  packages/debug/lib/src/ui/talker_page.g.dart
  packages/debug/lib/ui.dart
  packages/debug/pubspec.yaml
  pubspec.lock
Labels: @apps/app, @packages/debug

#553 [549] アクセシビリティツールにデバックツールを導入
  apps/app/lib/main.dart
  packages/debug/lib/src/ui/debug_page.dart
  packages/debug/lib/src/ui/debug_page.g.dart
  packages/debug/lib/ui.dart
  packages/debug/pubspec.yaml
Labels: @apps/app, @packages/debug

#556 [554]fource_update内部のclassをリファクタリング
  apps/app/lib/main.dart
  docs/MODELING.md
  packages/debug/lib/src/ui/debug_page.dart
  packages/domain_model/.gitignore
  packages/domain_model/lib/internal_domain_model.dart
  packages/domain_model/lib/src/force_update_settings_state.dart
  packages/domain_model/lib/src/force_update_settings_state.freezed.dart
  packages/domain_model/lib/src/force_update_target_version.dart
  packages/domain_model/lib/src/force_update_target_version.freezed.dart
  packages/domain_model/lib/src/internal_domain_model_base.dart
  packages/domain_model/lib/src/maintenance_mode_settings_state.dart
  packages/domain_model/lib/src/maintenance_mode_settings_state.freezed.dart
  packages/domain_model/lib/src/operating_system.dart
  packages/domain_model/lib/src/operational_settings.dart
  packages/domain_model/lib/src/operational_settings.freezed.dart
  packages/domain_model/lib/src/version_string.dart
  packages/domain_model/pubspec.yaml
  packages/domain_model/test/internal_domain_model_test.dart
  packages/domain_model/test/operational_settings_test.dart
  packages/features/force_update/build.yaml
  packages/features/force_update/lib/force_update.dart
  packages/features/force_update/lib/src/data/repositories/operational_setting_repository.dart
  packages/features/force_update/lib/src/model/force_update_settings_state.dart
  packages/features/force_update/lib/src/model/force_update_settings_state.freezed.dart
  packages/features/force_update/lib/src/model/force_update_target_version.dart
  packages/features/force_update/lib/src/model/force_update_target_version.freezed.dart
  packages/features/force_update/lib/src/model/version_string.dart
  packages/features/force_update/lib/src/provider/force_update_provider.dart
  packages/features/force_update/lib/src/provider/force_update_provider.g.dart
  packages/features/force_update/lib/src/provider/force_update_version_provider.dart
  packages/features/force_update/lib/src/provider/force_update_version_provider.g.dart
  packages/features/force_update/lib/src/use_cases/check_force_update_use_case.dart
  packages/features/force_update/pubspec.yaml
  packages/features/force_update/test/model/force_update_settings_state_test.dart
  packages/features/force_update/test/src/data/repositories/operational_setting_repository_test.dart
  packages/features/force_update/test/src/use_cases/check_force_update_use_case_test.dart
  pubspec.lock
Labels: @apps/app, @packages/features/force_update, @packages/domain_model, @packages/debug
