Repository yumemi-inc/flutter-mobile-project-template, pull requests merged in 2025-01, with the labels that each got.

#355 chore(deps): CocoaPods を 1.15.2 から 1.16.2 へ更新
  apps/app/ios/Podfile.lock
Labels: @apps/app

#360 feat(ui): cores_ui パッケージを追加
  .github/labeler.yml
  .github/labels.yml
  apps/app/lib/main.dart
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  apps/catalog/pubspec.lock
  apps/catalog/pubspec.yaml
  packages/cores/ui/.gitignore
  packages/cores/ui/.metadata
  packages/cores/ui/README.md
  packages/cores/ui/analysis_options.yaml
  packages/cores/ui/l10n.yaml
  packages/cores/ui/lib/l10n.dart
  packages/cores/ui/lib/src/gen/l10n/l10n.dart
  packages/cores/ui/lib/src/gen/l10n/l10n_en.dart
  packages/cores/ui/lib/src/gen/l10n/l10n_ja.dart
  packages/cores/ui/lib/src/l10n/cores_ui_en.arb
  packages/cores/ui/lib/src/l10n/cores_ui_ja.arb
  packages/cores/ui/pubspec.lock
  packages/cores/ui/pubspec.yaml
  packages/cores/ui/test/cores_ui_test.dart
  packages/features/debug_mode/pubspec.lock
  packages/features/debug_mode/pubspec.yaml
  packages/features/force_update/pubspec.lock
  packages/features/force_update/pubspec.yaml
  packages/features/maintain/pubspec.lock
  packages/features/maintain/pubspec.yaml
  packages/features/setting/pubspec.lock
  packages/features/setting/pubspec.yaml
Labels: @apps/app, @apps/catalog, @packages/features/debug_mode, @packages/features/setting, @packages/features/maintain, @packages/features/force_update

#366 chore(deps): 依存ライブラリのマイナーバージョンアップ
  apps/app/pubspec.lock
  apps/app/pubspec.yaml
  apps/catalog/pubspec.lock
  apps/catalog/pubspec.yaml
  apps/website/pubspec.lock
  apps/website/pubspec.yaml
  melos.yaml
  packages/cores/core/pubspec.lock
  packages/cores/core/pubspec.yaml
  packages/cores/data/pubspec.lock
  packages/cores/data/pubspec.yaml
  packages/cores/designsystem/pubspec.lock
  packages/cores/designsystem/pubspec.yaml
  packages/cores/model/pubspec.lock
  packages/cores/model/pubspec.yaml
  packages/features/debug_mode/pubspec.lock
  packages/features/debug_mode/pubspec.yaml
  packages/features/force_update/pubspec.lock
  packages/features/force_update/pubspec.yaml
  packages/features/maintain/pubspec.lock
  packages/features/maintain/pubspec.yaml
  packages/features/setting/pubspec.lock
  packages/features/setting/pubspec.yaml
  packages/samples/github_repository/pubspec.lock
  packages/samples/github_repository/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  samples/github_app/pubspec.lock
Labels: @apps/app, @apps/catalog, @packages/cores/core, @packages/cores/data, @packages/cores/designsystem, @packages/features/debug_mode, @packages/samples/github_repository, @packages/features/setting, @samples/github_app, @apps/website, @packages/features/maintain, @packages/features/force_update, @packages/cores/model

#367 chore(deps): 依存ライブラリのメジャーバージョンアップ
  apps/app/pubspec.lock
  apps/catalog/pubspec.lock
  packages/cores/designsystem/lib/src/theme_extensions/app_colors/app_colors.g.theme.dart
  packages/cores/designsystem/pubspec.lock
  packages/cores/designsystem/pubspec.yaml
  packages/cores/ui/pubspec.lock
  packages/features/debug_mode/pubspec.lock
  packages/features/force_update/pubspec.lock
  packages/features/maintain/pubspec.lock
  packages/features/setting/pubspec.lock
  packages/samples/github_repository/pubspec.lock
  samples/github_app/pubspec.lock
Labels: @apps/app, @apps/catalog, @packages/cores/designsystem, @packages/features/debug_mode, @packages/samples/github_repository, @packages/features/setting, @samples/github_app, @packages/features/maintain, @packages/features/force_update, @packages/cores/ui

#368 [Improve]: *_page.dart でも Provider を生成できるようにする
  apps/app/build.yaml
  apps/app/lib/router/router.dart
  apps/app/lib/ui/home_page.dart
  apps/app/lib/ui/home_page.g.dart
  apps/app/lib/ui/provider/navigator_provider.dart
  packages/features/debug_mode/build.yaml
  packages/features/debug_mode/lib/src/ui/debug_page.dart
  packages/features/debug_mode/lib/src/ui/debug_page.g.dart
  packages/features/debug_mode/lib/src/ui/provider/navigator_provider.dart
  packages/features/debug_mode/lib/ui.dart
  packages/features/setting/build.yaml
  packages/features/setting/lib/src/ui/provider/navigator_provider.dart
  packages/features/setting/lib/src/ui/setting_page.dart
  packages/features/setting/lib/src/ui/setting_page.g.dart
  packages/features/setting/lib/ui.dart
  packages/samples/github_repository/build.yaml
  packages/samples/github_repository/lib/src/ui/github_repository_list_page.dart
  packages/samples/github_repository/lib/src/ui/github_repository_list_page.g.dart
  packages/samples/github_repository/lib/src/ui/provider/navigator_provider.dart
  packages/samples/github_repository/lib/ui.dart
  tools/bricks/features_package/hooks/post_gen.dart
Labels: @apps/app, @packages/features/debug_mode, @packages/samples/github_repository, @packages/features/setting

#373 [GH-15] WidgetbookにMaterial Componentを追加
  apps/catalog/lib/main.directories.g.dart
  apps/catalog/lib/use_case/cores/designsystem/components/progress_indicator.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/actions/common_buttons.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/actions/floating_action_button.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/actions/icon_button.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/actions/segmented_button.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/communication/badge.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/communication/progress_indicator.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/communication/snack_bar.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/containment/alert_dialog.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/containment/bottom_sheet.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/containment/card.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/containment/divider.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/containment/list_tile.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/navigation/app_bar.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/navigation/bottom_app_bar.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/navigation/navigation_bar.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/navigation/navigation_drawer.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/navigation/navigation_rail.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/navigation/tab_bar.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/selection/check_box.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/selection/chip.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/selection/date_picker.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/selection/date_range_picker.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/selection/menu.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/selection/radio.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/selection/slider.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/selection/switch.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/selection/time_picker.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/style/color_scheme.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/style/typography.dart
  apps/catalog/lib/use_case/cores/designsystem/theme/text_inputs/text_field.dart
Labels: @apps/catalog

#374 [GH-15] Add Golden Test for Material Components
  apps/catalog/.gitignore
  apps/catalog/dart_test.yaml
  apps/catalog/lib/use_case/cores/designsystem/theme/selection/time_picker.dart
  apps/catalog/pubspec.lock
  apps/catalog/pubspec.yaml
  apps/catalog/test/components/alert_dialog_golden_test.dart
  apps/catalog/test/components/app_bar_golden_test.dart
  apps/catalog/test/components/badge_golden_test.dart
  apps/catalog/test/components/bottom_app_bar_golden_test.dart
  apps/catalog/test/components/bottom_sheet_golden_test.dart
  apps/catalog/test/components/card_golden_test.dart
  apps/catalog/test/components/check_box_golden_test.dart
  apps/catalog/test/components/chip_golden_test.dart
  apps/catalog/test/components/color_scheme_golden_test.dart
  apps/catalog/test/components/common_buttons_golden_test.dart
  apps/catalog/test/components/date_picker_golden_test.dart
  apps/catalog/test/components/date_range_picker_golden_test.dart
  apps/catalog/test/components/divider_golden_test.dart
  apps/catalog/test/components/floating_action_button_golden_test.dart
  apps/catalog/test/components/icon_button_golden_test.dart
  apps/catalog/test/components/list_tile_golden_test.dart
  apps/catalog/test/components/menu_golden_test.dart
  apps/catalog/test/components/navigation_bar_golden_test.dart
  apps/catalog/test/components/navigation_drawer_golden_test.dart
  apps/catalog/test/components/navigation_rail_golden_test.dart
  apps/catalog/test/components/progress_indicator_golden_test.dart
  apps/catalog/test/components/radio_golden_test.dart
  apps/catalog/test/components/segmented_button_golden_test.dart
  apps/catalog/test/components/slider_golden_test.dart
  apps/catalog/test/components/snack_bar_golden_test.dart
  apps/catalog/test/components/switch_golden_test.dart
  apps/catalog/test/components/tab_bar_golden_test.dart
  apps/catalog/test/components/text_field_golden_test.dart
  apps/catalog/test/components/time_picker_golden_test.dart
  apps/catalog/test/components/typography_golden_test.dart
  apps/catalog/test/flutter_test_config.dart
  apps/catalog/test/test_app.dart
  apps/catalog/test/test_devices.dart
  melos.yaml
Labels: @apps/catalog
