Repository yumemi-inc/flutter-mobile-project-template, pull requests merged in 2025-05, with the labels that each got.

#402 fix: mason get コマンドが失敗する
  apps/app/pubspec.yaml
  packages/cores/core/pubspec.yaml
  packages/cores/data/pubspec.yaml
  packages/cores/model/pubspec.yaml
  packages/features/debug_mode/pubspec.yaml
  packages/features/force_update/pubspec.yaml
  packages/features/maintain/pubspec.yaml
  packages/features/setting/pubspec.yaml
  packages/samples/github_repository/pubspec.yaml
  packages/utils/pagination/pubspec.yaml
  pubspec.yaml
  tools/bricks/brick/brick.yaml
  tools/bricks/brick/hooks/pubspec.yaml
  tools/bricks/cores_package_dart/brick.yaml
  tools/bricks/cores_package_dart/hooks/pubspec.yaml
  tools/bricks/cores_package_flutter/brick.yaml
  tools/bricks/cores_package_flutter/hooks/pubspec.yaml
  tools/bricks/features_package/brick.yaml
  tools/bricks/features_package_core/brick.yaml
  tools/bricks/features_package_core/hooks/pubspec.yaml
  tools/bricks/utils_package_flutter/brick.yaml
  tools/bricks/utils_package_flutter/hooks/pubspec.yaml
Labels: @apps/app, @packages/cores/core, @packages/cores/data, @packages/features/debug_mode, @packages/samples/github_repository, @packages/features/setting, @packages/features/maintain, @packages/features/force_update, @packages/cores/model, @packages/utils/pagination

#405 [162] オフライン⇨オンラインに戻る時のWebViewを再作成しないように修正
  packages/features/webview/lib/src/ui/web_page.dart
Labels: @packages/features/webview

#403 improve: analysis_options.yamlをルートに移動
  analysis_options.yaml
  apps/app/pubspec.yaml
  apps/catalog/analysis_options.yaml
  apps/catalog/pubspec.yaml
  apps/website/analysis_options.yaml
  apps/website/lib/ui/markdown_page.dart
  apps/website/pubspec.yaml
  packages/cores/core/analysis_options.yaml
  packages/cores/core/pubspec.yaml
  packages/cores/data/analysis_options.yaml
  packages/cores/data/pubspec.yaml
  packages/cores/designsystem/analysis_options.yaml
  packages/cores/designsystem/pubspec.yaml
  packages/cores/model/analysis_options.yaml
  packages/cores/model/pubspec.yaml
  packages/cores/ui/analysis_options.yaml
  packages/cores/ui/pubspec.yaml
  packages/features/debug_mode/analysis_options.yaml
  packages/features/debug_mode/pubspec.yaml
  packages/features/force_update/analysis_options.yaml
  packages/features/force_update/pubspec.yaml
  packages/features/maintain/analysis_options.yaml
  packages/features/maintain/pubspec.yaml
  packages/features/setting/analysis_options.yaml
  packages/features/setting/pubspec.yaml
  packages/features/webview/analysis_options.yaml
  packages/features/webview/pubspec.yaml
  packages/samples/github_repository/analysis_options.yaml
  packages/samples/github_repository/pubspec.yaml
  packages/utils/pagination/analysis_options.yaml
  packages/utils/pagination/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  samples/github_app/analysis_options.yaml
  samples/github_app/pubspec.yaml
  tools/bricks/features_package/hooks/post_gen.dart
  tools/diff_yaml.dart
  tools/gen_labeler.dart
  tools/gen_labels.dart
  tools/model/melos_package.dart
  tools/utils/command_runner.dart
  tools/utils/constants.dart
  tools/utils/label.dart
  tools/utils/logger.dart
Labels: @apps/app, @apps/catalog, @packages/cores/core, @packages/cores/data, @packages/cores/designsystem, @packages/features/debug_mode, @packages/samples/github_repository, @packages/features/setting, @packages/features/webview, @samples/github_app, @apps/website, @packages/features/maintain, @packages/features/force_update, @packages/cores/model, @packages/cores/ui, @packages/utils/pagination

#411 packages/features/webview を削除
  .github/labeler.yml
  .github/labels.yml
  apps/app/lib/router/router.dart
  apps/app/lib/router/router.g.dart
  apps/app/lib/router/routes/main/home/home_shell_branch.dart
  apps/app/lib/router/routes/main/home/web_page_route.dart
  apps/app/lib/ui/home_page.dart
  apps/app/lib/ui/home_page.g.dart
  apps/app/pubspec.yaml
  packages/features/webview/.gitignore
  packages/features/webview/.metadata
  packages/features/webview/README.md
  packages/features/webview/lib/src/ui/web_page.dart
  packages/features/webview/lib/webview.dart
  packages/features/webview/pubspec.yaml
  pubspec.yaml
Labels: @apps/app, @packages/features/webview

#447 Improve: pubspec.yaml の dependencies の最適化
  apps/app/ios/Podfile.lock
  apps/app/pubspec.yaml
  packages/cores/core/pubspec.yaml
  packages/features/debug_mode/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  tools/diff_yaml.dart
Labels: @apps/app, @packages/cores/core, @packages/features/debug_mode

#457 chore: CSpell の設定強化
  .cspell/docs-term.txt
  .cspell/flutter-term.txt
  .cspell/git-term.txt
  .cspell/github-action-term.txt
  .cspell/ios-term.txt
  .cspell/project-term.txt
  .github/workflows/wc-check-dependencies.yml
  .vscode/extensions.json
  apps/catalog/lib/use_case/cores/designsystem/theme/communication/progress_indicator.dart
  bun.lock
  cspell.jsonc
  package.json
  packages/cores/core/lib/src/util/custom_app_lifecycle_listener.dart
  packages/cores/core/lib/util.dart
  packages/cores/data/lib/src/theme_mode/provider/theme_mode_notifier.dart
  packages/cores/data/lib/src/theme_mode/provider/theme_mode_notifier.g.dart
  tools/diff_yaml.dart
  tools/gen_labeler.dart
Labels: @apps/catalog, @packages/cores/core, @packages/cores/data

#459 chore: package 別変更差分あり - merge-queue 確認
  packages/cores/core/lib/src/exception/app_exception.dart
  packages/features/debug_mode/lib/src/data/api/provider/exception_generator_api.dart
Labels: @packages/cores/core, @packages/features/debug_mode

#433 feat: Dart 以外のフォーマッタを追加してフォーマットする
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/improve.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/initialization/ABOUT_ICON.md
  .github/initialization/GITHUB_AUTO_ASSIGNMENT.md
  .github/initialization/SPLASH_SCREEN.md
  .github/workflows/auto-assign.yaml
  .github/workflows/check-pr.yaml
  .github/workflows/issue-dependabot.yml
  .github/workflows/labels.yml
  .github/workflows/wc-changes.yml
  .github/workflows/wc-check-markdown.yaml
  .markdownlint-cli2.jsonc
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  README.md
  apps/app/README.md
  apps/app/flavor/dev.json
  apps/app/flavor/prd.json
  apps/app/flavor/stg.json
  apps/app/flutter_launcher_icons-dev.yaml
  apps/app/flutter_launcher_icons-prd.yaml
  apps/app/flutter_launcher_icons-stg.yaml
  apps/app/pubspec.yaml
  apps/catalog/web/manifest.json
  cspell.jsonc
  docs/COPILOT.md
  docs/GET_STARTED.md
  docs/NEW_FEATURE.md
  docs/UPGRADE_FLUTTER.md
  dprint.jsonc
  mise.toml
  packages/cores/core/pubspec.yaml
  packages/cores/data/pubspec.yaml
  packages/features/force_update/pubspec.yaml
  packages/features/maintain/pubspec.yaml
  packages/features/setting/CHANGELOG.md
  packages/samples/github_repository/pubspec.yaml
  pubspec.yaml
  samples/github_app/pubspec.yaml
  samples/github_app/web/manifest.json
  samples/webview/pubspec.yaml
  tools/bricks/analysis_options.yaml
  tools/bricks/cores_package_dart/__brick__/packages/cores/{{package_name.snakeCase()}}/README.md
  tools/bricks/features_package/brick.yaml
  tools/bricks/features_package_core/__brick__/packages/features/{{feature_name.snakeCase()}}/pubspec.yaml
  tools/bricks/features_package_core/brick.yaml
Labels: @apps/app, @apps/catalog, @packages/cores/core, @packages/cores/data, @packages/samples/github_repository, @packages/features/setting, @samples/github_app, @packages/features/maintain, @packages/features/force_update, @samples/webview

#463 chore: package 別変更差分あり - merge-queue 確認（不要なコード削除）
  packages/cores/core/lib/src/exception/app_exception.dart
  packages/features/debug_mode/lib/src/data/api/provider/exception_generator_api.dart
Labels: @packages/cores/core, @packages/features/debug_mode

#476 #474 Merge Queue 確認用 PR
  packages/cores/core/lib/src/exception/app_exception.dart
Labels: @packages/cores/core

#478 feat: 各種パッケージの追加
  .cspell/flutter-term.txt
  .github/labeler.yml
  .github/labels.yml
  apps/app/pubspec.yaml
  apps/catalog/pubspec.yaml
  docs/ARCHITECTURE.md
  packages/application/.gitignore
  packages/application/lib/internal_application.dart
  packages/application/lib/src/internal_application_base.dart
  packages/application/pubspec.yaml
  packages/application/test/internal_application_test.dart
  packages/design_theme/.gitignore
  packages/design_theme/lib/internal_design_theme.dart
  packages/design_theme/lib/src/internal_design_theme_base.dart
  packages/design_theme/pubspec.yaml
  packages/design_theme/test/internal_design_theme_test.dart
  packages/design_ui/.gitignore
  packages/design_ui/lib/internal_design_ui.dart
  packages/design_ui/lib/src/internal_design_ui_base.dart
  packages/design_ui/pubspec.yaml
  packages/design_ui/test/internal_design_ui_test.dart
  packages/domain_logic/.gitignore
  packages/domain_logic/lib/internal_domain_logic.dart
  packages/domain_logic/lib/src/internal_domain_logic_base.dart
  packages/domain_logic/pubspec.yaml
  packages/domain_logic/test/internal_domain_logic_test.dart
  packages/domain_model/.gitignore
  packages/domain_model/lib/internal_domain_model.dart
  packages/domain_model/lib/src/internal_domain_model_base.dart
  packages/domain_model/pubspec.yaml
  packages/domain_model/test/internal_domain_model_test.dart
  packages/infrastructure/.gitignore
  packages/infrastructure/lib/internal_infrastructure.dart
  packages/infrastructure/lib/src/internal_infrastructure_base.dart
  packages/infrastructure/pubspec.yaml
  packages/infrastructure/test/internal_infrastructure_test.dart
  pubspec.yaml
Labels: @apps/app, @apps/catalog

#498 [GH-441] infrastructureパッケージへの切り出し
  packages/domain_logic/.gitignore
  packages/domain_logic/lib/internal_domain_logic.dart
  packages/domain_logic/lib/src/theme_mode/theme_mode_repository.dart
  packages/domain_logic/pubspec.yaml
  packages/infrastructure/.gitignore
  packages/infrastructure/lib/internal_infrastructure.dart
  packages/infrastructure/lib/src/shared_preferences/shared_preference_data_source.dart
  packages/infrastructure/lib/src/shared_preferences/shared_preferences_keys.dart
  packages/infrastructure/lib/src/theme_mode/theme_mode_repository_impl.dart
  packages/infrastructure/pubspec.yaml
Labels: @packages/domain_logic, @packages/infrastructure

#494 improve: Update package
  apps/app/ios/Podfile.lock
  apps/app/pubspec.yaml
  apps/catalog/pubspec.yaml
  packages/cores/core/pubspec.yaml
  packages/cores/data/pubspec.yaml
  packages/cores/designsystem/lib/src/gen/assets/assets.gen.dart
  packages/cores/designsystem/pubspec.yaml
  packages/cores/model/pubspec.yaml
  packages/design_theme/pubspec.yaml
  packages/design_ui/lib/src/gen/assets/assets.gen.dart
  packages/design_ui/pubspec.yaml
  packages/features/debug_mode/pubspec.yaml
  packages/features/force_update/pubspec.yaml
  packages/features/maintain/pubspec.yaml
  packages/features/setting/lib/src/gen/assets/assets.gen.dart
  packages/features/setting/pubspec.yaml
  packages/infrastructure/pubspec.yaml
  packages/samples/github_repository/pubspec.yaml
  packages/utils/pagination/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  samples/webview/pubspec.yaml
Labels: @apps/app, @apps/catalog, @packages/cores/core, @packages/cores/data, @packages/cores/designsystem, @packages/features/debug_mode, @packages/samples/github_repository, @packages/features/setting, @packages/features/maintain, @packages/features/force_update, @packages/cores/model, @packages/utils/pagination, @samples/webview, @packages/design_theme, @packages/design_ui, @packages/infrastructure
